body {
  background-color: #3c3f3c;
  color: white; }

.wrapper {
  width: 100%;
  min-height: 100%; }

.main_body {
  height: 100%;
  width: 650px;
  display: table;
  margin: 40px auto; }

.logo {
  float: left;
  margin-top: -15px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border: 0;
  border-radius: 10px;
  background-color: #464946;
  height: 50px;
  text-shadow: 1px 1px 1px #303230; }

.header {
  border-bottom: 1px solid #434643;
  padding-bottom: 20px; }

.main_heading {
  font-family: 'Museo Sans', "museosans-web", 'serif';
  text-align: center;
  padding-bottom: 12px;
  text-shadow: 2px 2px 2px #000;
  font-size: 2em;
  font-weight: bold; }

.sub_heading {
  font-family: 'Museo Sans', "museosans-web", 'serif';
  text-align: center;
  font-size: 1.5em;
  font-weight: 400; }

.title_highlight {
  color: #ebf2cb;
  font-style: italic; }

.main-content {
  color: white; }

h3 {
  color: #4fb8df; }

.footer {
  border-top: 1px solid #434643;
  margin-bottom: 10px;
  font-size: 0.75em;
  color: #c6c6c6; }

.gaze_verdict {
  height: 40px;
  font-size: 26px;
  font-weight: 600;
  color: white; }

.gazing_conditions {
  border-bottom: 1px solid #434643;
  width: 100%; }

.dark_spots {
  height: 200px; }

.geo_info {
  margin-top: 20px;
  margin-bottom: 20px; }

.title_first {
  font-size: 18px;
  font-weight: 500;
  color: #5c5c5b; }

.title_second {
  font-size: 18px;
  font-weight: 500;
  color: #7b7b79; }

.title_city {
  color: #d5d32e;
  font-size: 24px;
  font-weight: 500; }

div[class$="_title"] {
  color: #F2EDB1;
  font-size: 20px;
  font-weight: bold;
  margin: 12px 0; }

div[class$="_contents"] {
  margin: 12px 0; }

.footer {
  width: 100%;
  bottom: 0; }
