.change_loc_button {
    background-color: #C2F2ED;
    cursor: pointer;
    width: 130px;
    text-align:center;
}

.change_location {
    display: none;
}

.go_button {
    background-color: #C2F2ED;
    cursor: pointer;
    width: 50px;
    text-align: center;
}