body {
   margin-top: 20px;
   margin-left: 70px;
   margin-right: 70px;
   overflow: hidden;
}

.header {
    border-bottom: 1px solid #C6C6C6;
    overflow: hidden;
}

.header h2 {
    font-size: 1.5em;
    font-weight: 400;
}

.main-content {
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer {
    border-top: 1px solid #C6C6C6;
    margin-bottom: 10px;
    font-size: 0.75em;
    color: #C6C6C6;
}