    <div class="city">City: {{ city }}</div>
    <div class="cloud_cover">Cloud Cover: {{ cloud_cover }}%</div>
    <div class="visibility">Visibility : {{ visibility }} Miles</div>
    
    <div class="change_loc_button">Change Location</div>
    <div class="change_location">
        <div class="provide_new_location">
           <div class="location_input">
                Enter city or zipcode(pincode): <input type="text" id="location_input" name="location_input"/>
           </div>
           <div class="go_button">
                Go
           </div>    
        </div>
    </div>